

.about__intro__heading{
    margin-left: 165px;
    font-weight: bold;
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5px;
color: #FFFFFF;

}
.about__intro-section{
    margin-bottom: 100px;
    background-image: url(../images/about-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}